AddDefaultCharset utf-8

# Force UTF-8 for certain file formats.
#<IfModule mod_mime.c>
#    AddCharset utf-8 .atom .css .js .json .jsonld .rss .vtt .webapp .xml
#</IfModule>


# ##############################################################################
# # КЕШИРОВАНИЕ ФАЙЛОВ #
# ##############################################################################


<IfModule mod_expires.c>
    # Включаем кэширование для всех файлов сроком на 10 лет.
    ExpiresActive On
    ExpiresDefault "access plus 10 years"
    
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
    # Отключаем его для HTML-файлов.
    <FilesMatch .*\.(shtml|html|phtml|php)$>
        ExpiresActive Off
    </FilesMatch>
</IfModule>

# <IfModule mod_headers.c>
#     # Указываем прокси-серверам передавать заголовок User-Agent
#     # для корректного распознавания сжатия.
#     Header append Vary User-Agent env=!dont-vary
    
#     # Запрещаем кэширование на уровне прокси-сервера для всех
#     # файлов, для которых у нас выставлено сжатие.
#     <FilesMatch .*\.(css|js|php|phtml|shtml|html|xml)$>
#         Header append Cache-Control: "private, must-revalidate"
#     </FilesMatch>
#     <FilesMatch "\.(html|htm)$">
#         Header set Cache-Control "max-age=2592000"
#     </FilesMatch>
#     #кэшировать CSS, JavaScript и текстовые файлы на одну неделю
#     <FilesMatch "\.(js|css|txt)$">
#         Header set Cache-Control "max-age=2592000"
#     </FilesMatch>
#     #кэшировать флэш и изображения на месяц
#     <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
#         Header set Cache-Control "max-age=2592000"
#     </FilesMatch>
#     #отключить кэширование
#     <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
#         Header unset Cache-Control
#     </FilesMatch>
# </IfModule>


# # ##############################################################################
# # # БЕЗОПАСНОСТЬ #
# # ##############################################################################

# # Закрывает доступ к служебным папкам и файлам, которые начинаются на . или ~.
# # Например: факл .htaccess, директория .svn
# <IfModule mod_rewrite.c>
#     RewriteRule (?:^|/)(?:\..*)$ - [F]
# </IfModule>

# <FilesMatch "(package\.json|gruntfile\.js|gulpfile\.js|bower\.json|composer\.(lock|json)|readme\.md)$">
#     # Apache < 2.3
#     <IfModule !mod_authz_core.c>
#         Order allow,deny
#         Deny from all
#         Satisfy All
#     </IfModule>

#     # Apache ≥ 2.3
#     <IfModule mod_authz_core.c>
#         Require all denied
#     </IfModule>
# </FilesMatch>

# # Защищает важные файлы (по расширению) от получения их содержимого через браузер.
# <FilesMatch "(^#.*#|\.(bak|config|dist|fla|in[ci]|log|psd|sh|sql|sw[op]|bat|db)|~)$">
#     # Apache < 2.3
#     <IfModule !mod_authz_core.c>
#         Order allow,deny
#         Deny from all
#         Satisfy All
#     </IfModule>

#     # Apache ≥ 2.3
#     <IfModule mod_authz_core.c>
#         Require all denied
#     </IfModule>
# </FilesMatch>

# # Заперещаем открытие сайта в iframe, на стороннем ресурсе. Тем самым предотвращаем clickjacking.
# <IfModule mod_headers.c>
#     Header set X-Frame-Options "SAMEORIGIN"
#     <FilesMatch "\.(appcache|atom|crx|css|cur|eot|f4[abpv]|flv|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|tt[cf]|vcf|vtt|webapp|web[mp]|woff|xml|xpi)$">
#         Header unset X-Frame-Options
#     </FilesMatch>
# </IfModule>

# # Запрещаем IE автоматически определять тип документа. 
# # Т.к. это потенциально может привести к проблемам с безопасностью.
# <IfModule mod_headers.c>
#     Header set X-Content-Type-Options "nosniff"
# </IfModule>

# # Защита от XSS в браузере. 
# # Работает только на IE и потенциально может принести проблемы со сложными URI.
# #<IfModule mod_headers.c>
# #    Header set X-XSS-Protection "1; mode=block"
# #    <FilesMatch "\.(appcache|atom|crx|css|cur|eot|f4[abpv]|flv|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|tt[cf]|vcf|vtt|webapp|web[mp]|woff|xml|xpi)$">
# #        Header unset X-XSS-Protection
# #    </FilesMatch>
# #</IfModule>

# # Предотвращает частичный листинг файлов.
# <IfModule mod_negotiation.c>
#     Options -MultiViews
# </IfModule>

# # ##############################################################################
# # # РЕДИРЕКТЫ #
# # ##############################################################################

# # Универсальный редирект с домена С www. на домен БEЗ www.
# <IfModule mod_rewrite.c>
#     RewriteCond %{HTTPS} !=on
#     RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#     RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
# </IfModule>

# <IfModule mod_rewrite.c>
#     # Если файл или директория существуют, то возвращаем их содержимое.
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d

#     # Перенаправление запроса на index.php
#     RewriteRule . index.php
# </IfModule>

# # Инвалидация кеша.
# #<IfModule mod_rewrite.c>
# #    RewriteCond %{REQUEST_FILENAME} !-f
# #    RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpe?g|gif)$ $1.$3 [L]
# #</IfModule>