.acquaintance {
	height: auto;
	text-align: center;
	margin-top: 130px;
	position: relative;	
	margin-bottom: 30px;
	&__content {
		display: grid;
		grid-template-columns: 1fr 2fr;
		text-align: left;
		margin-top: 30px;
	}
	&__title {
		color: #000000;
		font-family: $overpass;
		font-size: 42px;
		font-weight: $regular;
		line-height: 50px;
		@include overcontent;
	}
	&__caption {
		color: #000000;
		font-family: $overpass;
		font-size: 26px;
		font-weight: $regular;
		line-height: 50px;
		@include overcontent;
	}
	&__description {
		color: #4c4b4b;
		font-family: $opensans;
		font-size: 16px;
		font-weight: $regular;
		line-height: 22px;
		padding-bottom: 30px;
	}
	&__button {
		color: #ef6c00;
		font-family: $opensans;
		font-size: 22px;
		font-weight: $bold;
		@include overcontent;
	}
}