@font-face {
    font-family: "OpenSansPro";
    src: url("../fonts/sourcesansprobold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansPro";
    src: url("../fonts/sourcesanspro.ttf");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "OpenSansPro";
    src: url("../fonts/sourcesansprolight.ttf");
    font-weight: 300;
    font-style: normal;
}




@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-Light.ttf");
    font-weight: 300;
}




@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }