@media (max-width: $tablet-landscape-width) {
    .header{
        &__grid {
            grid-template-columns: 1fr 1fr;
        }
        &__nav,
        &__user,
        &__hidden {
            display: none;
        }
        &__link {
            font-size: 20px;
            font-weight: $bold;
        }
        &__info {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }
        &__face {
            margin-bottom: 10px;
        }
    }
    .users {
        &__item {
            flex-direction: column;
            text-align: center;
        }
        &__img {
            margin: 0 auto;;
        }
    }
    .footer {
        &__head {
            grid-template-columns: 1fr 3fr;
        }
    }
}

@media (max-width: $tablet-portrait-width) {
    .languages {
        &__head {
            width: 70%;
        }
        &__box {
            grid-template-columns: 1fr;
        }
        &__item {
            flex-direction: row;
        }
    }
    .general {
        &__box {
            grid-template-columns: 1fr;
            text-align: center;
        }
        &__img {
            justify-content: center;
        }
    }
}

@media (max-width: $phone-landscape-width) {
    .test {
        &__content {
            width: 100%;
            text-align: center;
        }
        &__button {
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .languages {
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    .acquaintance {
        &__content {
            grid-template-columns: 1fr;
            text-align: center;
        }
        &__img {
            margin: 0 auto;
        }
        &__button {
            margin: 0  auto;
        }
    }
    .users {
        &__box {
            grid-template-columns: 1fr;
        }
    }
    .post {
        &__box {
            flex-direction: column;
            margin-bottom: 0;
        }
        &__item {
            max-width: 100%;
            margin: 20px 0;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
        &__position,
        &__upload {
            max-width: 100%;
            margin: 20px 0;
        }
        &__submit {
            margin-top: 25px;
            max-width: 100%;
        }
    }
    .footer {
        &::before {
            top: 200px;
        }
        &__head {
            grid-template-columns: 1fr;
            text-align: center;
            height: auto;
            padding-bottom: 20px;
        }
        &__logo {
            margin-top: 20px;
        }
        &__nav {
            flex-direction: column;
            align-items: center;
        }
        &__body {
            grid-template-columns: 1fr;
            text-align: center;
            padding-top: 20px;
        }
        &__other {
            display: none;
        }
        &__bottom {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__social {
            margin-bottom: 20px;
        }
    }
}





@media (min-width: $tablet-landscape-width) {
    .header {
        &__burger,
        &__menu,
        &__mobile {
            display: none !important;
        }
    }
}